PRAGMA journal_mode = WAL;


CREATE TABLE questions (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    stem TEXT NOT NULL,
    answer TEXT NOT NULL,
    distractors TEXT NOT NULL,
    random INTEGER NOT NULL DEFAULT 0
);

INSERT INTO questions (
    stem, 
    answer, 
    distractors, 
    random
    ) VALUES (
    'How many days are there in a week?',
    '7 days',
    '["5 days", "8 days", "1 week"]',
    0
),
(
    'What do humans need to breathe to survive?',
    'Oxygen',
    '["Carbon dioxide", "Helium", "Hydrogen"]',
    0
);